@import 'tailwindcss';
@import '@gremorie/tokens/theme.css';

@source '../../ng-core/src/**/*.{ts,html}';
@source '../../ng-attachments/src/**/*.{ts,html}';
@source '../../ng-prompt-input/src/**/*.{ts,html}';

html,
body {
  display: block;
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
