@import 'tailwindcss';
@import '@gremorie/tokens/theme.css';

@source '../../ng-core/src/**/*.{ts,html}';
@source '../../ng-ai/src/**/*.{ts,html}';
@source '../../ng-data/src/**/*.{ts,html}';
@source '../../ng-containers/src/**/*.{ts,html}';
@source '../../ng-display/src/**/*.{ts,html}';
@source '../../ng-feedback/src/**/*.{ts,html}';
@source '../../ng-artifacts/src/**/*.{ts,html}';

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
