@import 'tailwindcss';
@import '../../ng-core/styles/theme.css';

@source '../../ng-core/src/**/*.{ts,html}';
@source '../../ng-attachments/src/**/*.{ts,html}';
@source '../../ng-prompt-input/src/**/*.{ts,html}';
@source '../../ng-charts/src/**/*.{ts,html}';
@source '../../ng-ai/src/**/*.{ts,html}';
@source '../../ng-display/src/**/*.{ts,html}';
@source '../../ng-feedback/src/**/*.{ts,html}';

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
}
